{erl_opts, [debug_info]}.
{deps, []}.
{pre_hooks, [
	{"(linux|darwin|solaris)", compile, "sh build.sh"},
	{"(freebsd)", compile, "sh build.sh"}
]}.
{post_hooks, [
	{"(linux|darwin|solaris)", clean, "rm -rf priv/*.so && rm -rf c_src/_build"},
	{"(freebsd)", clean, "rm -rf priv/*.so && rm -rf c_src/_build"}
]}.
